@import url("https://fonts.googleapis.com/css?family=Roboto:400,700,900");
@import url("https://fonts.googleapis.com/css?family=Lilita+One");
@import "~bootstrap/scss/bootstrap";

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  background-color: red;
  padding: 0;
  line-height: 1;
  font-family: "Roboto", sans-serif;
  color: #202020;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p.capitalize {
  text-transform: capitalize;
}

.cont {
  border-radius: 0.25rem;
  padding-top: 10rem;
  text-align: center;
}

.align-center {
  text-align: center;
}

.sprite {
  height: 100px;
  width: auto;
}

footer {
  text-align: center;
  font-family: "Lilita One", cursive;
  font-size: 4vh;
  color: #f0d907;
  text-shadow: 2px 2px black;
}

#search {
  border: none;
  border-radius: 0;
  border-bottom: 1px solid gray;
  font-size: 3rem;
  text-align: center;
}

.options-container {
  max-height: 40rem;
  overflow: auto;
}

.number-badge {
  background-color: rgb(230, 230, 230);
}
